{{#if @show}}
  {{#in-element this.destinationElement}}
  	<div>I'm from in-element.</div>
    <label for="name2">Name</label>
    <input type="text" id="name2" name="name2">
  {{/in-element}}
{{/if}}
