{{page-title "ExampleLinks"}}
We use ember-wormhole when we want to render particular contents (e.g. buttons, dropdowns, tooltips) somewhere else on the page. Now ember has a natural support or that.
<ul>
	<li>
  	<LinkTo @route="api-differences">Example 1: API differences</LinkTo>
  </li>
	<li>
  	<LinkTo @route="render-state">Example 2: Rendering in-place and state caching</LinkTo>
  </li>
	<li>
  	<LinkTo @route="append">Example 3: To append or not to append?</LinkTo>
  </li>
</ul>


Resources:
<ul>
	<li>
  	<a href="https://github.com/yapplabs/ember-wormhole" target="_blank">ember wormhole github</a>
  </li>
	<li>
  	<a href="http://yapplabs.github.io/ember-wormhole/" target="_blank">ember wormhole example</a></li>
   <li>
  	<a href="https://api.emberjs.com/ember/release/classes/Ember.Templates.helpers/methods/each?anchor=in-element" target="_blank">in-element definition in ember docs</a>
  </li>
  <li>
  	<a href="https://github.com/emberjs/rfcs/blob/af64915b5ecde010fce09309a47ee6d2447588d0/text/0287-promote-in-element-to-public-api.md/" target="_blank">in-element documentation</a>
  </li>
  <li>
  	<a href="https://dev.to/shayanypn/ember-js-in-element-feature-273l" target="_blank">inElement Feature example</a>
  </li>
</ul>